.hero {
  width: 100%;
  min-height: calc(100vh - 69px);
  background-image: url('/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.overlay {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 64px 120px;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--white);
  margin-bottom: 40px;
}

@media (max-width: 1023px) {
  .hero {
    min-height: calc(100vh - 73px);
  }

  .content {
    padding-block: 56px 88px;
  }

  .title {
    font-size: 52px;
  }

  .subtitle {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: calc(100vh - 73px);
  }

  .content {
    max-width: 100%;
    padding-block: 40px 56px;
  }

  .title {
    font-size: 36px;
    line-height: 1.15;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 28px;
  }
}
