:root {
  --font-main: 'Manrope', sans-serif;
  --color-primary: #3470ff;
  --color-primary-hover: #0b44cd;

  --color-text-main: #121417;
  --color-text-secondary: #8a8a89;

  --color-bg-main: #ffffff;
  --color-bg-light: #f7f7f7;

  --color-border: #dadde1;
}

/* simple reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-main);
  background: var(--color-bg-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 24px;
}

.pageTitle {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}
