.container {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
}

.content {
  position: relative;
  max-width: 1184px;
  margin: 0 auto;
}

.back {
  position: absolute;
  top: -42px;
  left: 0;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  text-decoration: none;
}

@media (max-width: 1023px) {
  .container {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 48px;
    padding-bottom: 56px;
  }

  .back {
    position: static;
    margin-bottom: 20px;
  }
}
