.container {
  width: 100%;
  padding-bottom: 104px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.form {
  width: 100%;
}
