.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  border: 1px solid var(--badges);
  border-radius: 12px;

  padding: 32px;

  width: 640px;
  height: 488px;

  background: var(--white);
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

/* TEXTAREA */

.textarea {
  width: 100%;
  height: 88px;

  padding: 12px 20px;

  border-radius: 12px;
  border: none;

  background: var(--inputs);

  font-family: var(--font-family);
  font-size: 16px;

  resize: none;
}

.textarea::placeholder {
  color: var(--gray);
}

.dateWrapper {
  position: relative;
  width: 100%;
}

.dateInput {
  width: 100%;
  height: 48px;

  padding: 12px 20px;

  border: none;
  border-radius: 12px;

  background: var(--inputs);

  font-family: var(--font-family);
  font-size: 16px;

  color: var(--main);
}

.datePlaceholder {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  color: var(--gray);
  pointer-events: none;

  font-size: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dateInput {
  width: 100%;
  height: 48px;

  padding: 12px 20px;

  border: none;
  border-radius: 12px;

  background: var(--inputs);

  font-family: var(--font-family);
  font-size: 16px;

  color: var(--main);
}

.dateInput:invalid {
  color: transparent;
}

.dateInput:valid {
  color: var(--main);
}
